.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.image-left {
    justify-content: flex-start;
}

.image-right {
    justify-content: flex-end;
}

